/*contact*/

.contacthead{
    font-size: 40px;
    color:#f5f4ea;
    font-family: Andale Mono, monospace	;
}

.con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 15vh auto;
    padding: 15px;
    border: none;
    box-shadow: 0 0 15px #f5f4ea;
    background-color: #9dbcbc;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color:#9dbcbc;
}

input {
    width: 100%;
    margin: 5px 0;
    height: 35px;
    font-size: 17px;
    text-align: center;
    outline: none;
    font-family: Andale Mono, monospace	;
    border: none;
    background: #b7b7b7;
}

textarea {
    width: 100%;
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
    outline: none;
    font-family: Andale Mono, monospace	;
    border: none;
    background: #b7b7b7;
}
.cbut{
    margin: 10px auto;
    width: 120px;
    background: #f5f4ea;
    color: #9dbcbc;
    cursor: pointer;
    font-family: Andale Mono, monospace	;
}
.cbut:hover{
background: #f5f4ea;
}
@media screen and (max-width:600px) {
    .con{
        width: 90%;
    }
}


.formtext{
    font-size: 20px;
    color:#f5f4ea;
    font-family: Andale Mono, monospace	;
}