
  #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("coffee.jpeg");
      
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 30px;
    text-align: center;
    font-size: 36px;
  
  }
  
  #hero .hero-stuff {
    position: relative;
  
  }
  
  

.resumetarget{
color:  #9dbcbc;
text-align: center;

  }